* {
    @apply
        text-16px
        text-black;
}

h1 {
    @apply text-40px;
}

h2 {
    @apply text-30px;
}

h3 {
    @apply text-24px;
}

.link {
    @apply
        cursor-pointer;

    &.pri {
        @apply
            text-pri-500
            hover:text-black
    }

    &.sec {
        @apply
            text-sec-500
            hover:text-black
    }

    &.ter {
        @apply
            text-ter-300
            hover:text-black
    }
}
